= form_for @dish do |f|
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - if @dish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |message|
          %li= message

  = render('dishes/one_dish_form', f: f)
  - i=0
  = f.fields_for(:dish_ingredients) do |di|
    = di.hidden_field(:id)
    = render('dishes/one_dish_ingredient_form', di: di, i: i + 1)
      
