= form_for @dish do |f|
  - if @dish.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dish.errors.count, "error")} prohibited this dish from being saved:"
      %ul
        - @dish.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_area :name
  .field
    = f.label :time_cook
    = f.time_select :time_cook, prompt: {hour: 'Choose hour', minute: 'Choose minute'}
  .field
    = f.label :instruction
    = f.text_area :instruction
  .field
    = f.label :category
    = f.text_field :category_id
  .actions
    = f.submit 'Save'
