.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      / Ингредиент:
      -#
      -if i.kind_of?(Integer)
        = di.object.ingredient.short_descr
      - else
        = i
      %span.toright
        = link_to_edit_ingredient()
        = link_to_new_ingredient()
        = link_to_remove_ingredient(di)
      .clearfix
    .panel-body
      .row
        .col-md-12
          -#
          = render('dishes/select_ingredient_form', di: di)

          %div{class: "edit_form", "data-content" => "#{render "edit_ingredient_form", di: di}"}

          %div{class: "new_form", "data-content" => "#{render "new_ingredient_form", di: di}"}
          
          %div{class: "select_form", "data-content" => "#{render "select_ingredient_form", di: di}"}
      .row
        .col-md-6
          .form-group
            = di.label :how_many
            = di.number_field :how_many, class: 'form-control'
        .col-md-6
          .form-group
            = di.label :measure
            = di.text_field :measure, class: 'form-control'
      .row
        .col-md-12
          .form-actions
            = di.submit nil, class: 'btn btn-primary'
          