.row
  .col-md-12
    .form-group
      = f.label :id
      = f.text_area :id, class: 'form-control'
    .form-group
      = f.label :name
      = f.text_area :name, class: 'form-control'
    -#
    .form-group
      = f.label :time_cook
      = f.time_select :time_cook, prompt: {hour: 'Choose hour', minute: 'Choose minute'}, class: 'form-control'
    .form-group
      = f.label :instruction
      = f.text_area :instruction, class: 'form-control'
    .form-group
      = f.label :category
      = f.select(:category_id, 
              options_for_select(Category.all.pluck("name, id"), f.object.category_id), 
              {}, class: 'form-control')
    .row.bottom20
      .col-md-12
        = link_to_add_ingredient(f, f.object)