/ http://localhost:3000/rails/info/routes
= link_to 'Clear', search_dishes_path()
= form_tag search_dishes_path(), method: :get do
  %b Название блюда:
  = text_field_tag 'search[name]', params['search']['name'], class: 'form-control'
  %br
  %b Ингредиент:
  = text_field_tag 'search[ingredient]', params['search']['ingredient'], class: 'form-control'
  %br
  %b Категория:
  = select(:search, :category, (Category.pluck('name, id')), {include_blank: true}, class: 'form-control')
  %br
  %b Время приготовления:
  = time_select(:search, :time_cook, prompt: {hour: 'Choose hour', minute: 'Choose minute'})
  -# bad decision
  -# = time_select(:search, :time_cook, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}}, class: 'form-control')
  %br

  = submit_tag 'Поиск', class: 'btn btn-success'
%br

- if @dishes
  %ol
    - @dishes.each_slice(2) do |d1, d2|
      .row
        .col-md-6
          .form-group
            %li
              %b= d1.name
              %i= '(время приготовления ' + d1.time_cook.strftime('%Hч %Mмин') + ')'
            Категория: 
            %i= d1.category.name
            %br
            - if !d1.ingredients.blank?
              Для приготовления требуется:
              %ul
                - d1.ingredients.each do |ingr|
                  %li= ingr.short_descr
              %br
        - if d2
          .col-md-6
            .form-group
              %li
                %b= d2.name
                %i= '(время приготовления ' + d2.time_cook.strftime('%Hч %Mмин') + ')'
              Категория: 
              %i= d2.category.name
              %br
              - if !d2.ingredients.blank?
                Для приготовления требуется:
                %ul
                  - d2.ingredients.each do |ingr|
                    %li= ingr.short_descr
                %br