=breadcrumb_tag do
  %li.active
    = @category.name
  %li
    = link_to 'Категории', categories_path

%p#notice= notice

%p
  %b Name:
  = @category.name
%p
  %b Category tree:
  - if @category.category_tree.nil?
    \root
  - else
    @category.category_tree.name

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
